.feed-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f3f2ef;
    width: 96vw;
    min-height: 100vh;
    padding: 20px;
    padding-top: 100px;
    justify-content: space-between;

    .feed-new-post-div{
        background-color: white;
        border: 1px solid lightgray;
        border-radius: 10px;
        width: 530px;
        padding: 20px;
        margin-right: 45px;
    }
    .feed-new-post-form-div{
        display: flex;
        flex-direction: row;
        align-items: center;
        // margin-bottom: 20px;
    }

    .start-new-post-button{
        display: flex;
        align-items: left;
        cursor: pointer;
        background-color: white;
        color: gray;
        border: 1px solid gray;
        border-radius: 24px;
        width: 450px;
        height: 50px;
        font-size: 16px;
        padding: 15px;
    }
    
    .user-profile-feed{
        border-radius: 50%;
        width: 60px;
        height: 60px;
        margin-right: 10px;
    }

    .left-side-info-div {
        display: flex;
        position: fixed;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: white;
        border: 1px solid lightgray;
        border-radius: 10px;
        left: 3vw;
        height: 250px;
        width: 200px;

        .feed-back-img{
            width: 200px;
            height: 80px;
            border-radius: 10px;
            margin-top: -25px;
        }
        .user-mini{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border-bottom: 1px solid lightgray;
            width: 100%;
            padding-bottom: 25px;

            h1{
                margin-top: 10px;
                font-weight: 500;
            }
        
            h3{
                font-size: 0.8rem;
                color: gray;
                margin-top: 5px;
                padding: 0px 5px;
                cursor: pointer;

                &:hover{
                    color: #0a66c2;
        
                }
            }
        }

        .user-profile-feed2{
            border-radius: 50%;
            width: 80px;
            height: 80px;
            margin-right: 10px;
            border-radius: 50%;
            margin-top: -45px;
        }

        h1{
            margin-top: 10px;
            font-weight: 600;
        }

        h2{  
            color: gray;
            margin-top: 5px;
            padding: 0px 20px; 
            font-size: 0.9rem;
        }
        .user-connections-info{
            padding-top: 20px;
            color: #0a66c2;
        }
    }

    .right-side-creator-div{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        position: fixed;
        border: 1px solid lightgray;
        background-color: white;
        right: 3vw;
        height: 400px;
        width: 200px;
        border-radius: 10px;
    }
    h1{
        padding-top: 2px;
    }
    .my-photo{
        border-radius: 50%;
        width: 100px;
    }
    
    .creator-info-links{
        margin-top: 10px;
        display: flex;
        flex-direction: column;

        a{
            text-decoration: none;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 5px;
            color: gray;

        }
        h3{
            padding-top: 2px;
            font-size: 0.8rem;
        }
    }
   

    .portfolio, .github, .linkedin, .angellist{
        font-size: 30px;
        color: #0a66c2;
        &:hover{
           font-size: 31px;
           color: #0c5cac ;
        }
    }
    // .feed-user-info{
    //     display: flex;
    //     flex-direction: column;
    //     // margin-left: 15vw;
    //     background-color: white;
    //     width: 200px;
    //     height: 200px;
    //     border-radius: 20px;
    //     align-items: center;
    //     padding-top: 10px;

    // }
  
    // .feed-creator-div{
    //     display: flex;
    //     flex-direction: column;
    //     // margin-right: 15vw;
    //     background-color: white;
    //     width: 200px;
    //     height: 200px;
    //     border-radius: 20px;
    //     align-items: center;
    //     padding-top: 10px;
    // }

    // .post-index-item-div{
    //     display: flex;
    //     flex-direction: column;
    //     // margin-right: 15vw;
    //     background-color: white;
    //     width: 400px;
    //     height: 200px;
    //     border-radius: 20px;
    //     align-items: center;
    //     padding-top: 10px;
    // }
   
  .myPic{
      width: 120px;
    //   height: 100px;
    //   border-radius: 10%;
  }

    
}