.creator-info-div{
    border-bottom: 1px solid lightgray;
    left: 18vw;
    right: 15vw;
    position: absolute;
    top: 830px;

    .my-name, .creator-links, .other-pro-links{
        margin-right: 200px;
    }
    .other-pro-links{
        padding-bottom: 5px;
    }
}
.creator-component {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    // padding-top: 10px;
    padding-bottom: 10px;
    // margin-top: 10px;
    margin-right: 20px;

    .bottom-logo{
        width: 90px;
        height: 25px;
        padding-bottom: 5px;
    }
    .tech, .links{
        padding-top: 5px;
        display: flex;
        flex-direction: column;
        color: #242424;
        font-size: 14px;
    }
    h2 {
        color: #000000E6;
        font-weight: 400;
        font-size: 18px;
        padding-bottom: 5px;
    }

    .linkedin-link, .github-link, .anglelist-link{
        text-decoration: none;
        padding-bottom: 5px;
        color: #1f1f1f;
        &:hover {
            color: royalblue;
            font-size: 15px;
            text-decoration: underline;
        }
    }

    .pro-link{
        text-decoration: none;
        padding-bottom: 5px;
        padding-top: 10px;
        font-size: 14px;
        color: #222222;
        &:hover {
            color: royalblue;
            font-size: 15px;
            text-decoration: underline;
        }
    }

    h3 {
        padding-bottom: 8px;
    }

    .creator-name{
        color:#222222;
    }
}

