
.modal-background {
    position: fixed;
    background: rgba(0, 0, 0, 0.3);
    padding-top: 70px;
    z-index: 10;
    height: 100vh;
    width: 100vw;

    .modal-child {
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }
}

// about form 

.about-edit-form {
    background-color: white;
    border: 1px solid gray;
    border-radius: 10px;
    width: 680px;
    height: 400px;
    
    .about-form-div{
        margin-top: 30px;
    }
    .about-form-heading {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid lightgray;
        padding: 15px 0px 12px 15px;
        font-weight: 400;
        font-size: 20px;

        .about-close-button{
            padding-right: 25px;
            cursor: pointer;
            
        }
    
        .about-close-icon{
            font-size: 25px;
        }
    }

    .about-form {
        display: flex;
        flex-direction: column;
    }

    .about-body-heading {
        font-size: 0.9rem;
        color: gray;
    }

    .about-description-div {
        display: flex;
        flex-direction: column;
        margin-top: 10px;
        margin-bottom: 20px;
        margin-left: 25px;
    }

    .about-body-textarea{
        margin-top: 5px;
        width: 600px;
        height: 170px;
        border-radius: 5px;
        border: 1px solid gray;
    }
    
    .about-form-footer{
        display: flex;
        flex-direction: row;
        width: 670px;
        padding: 10px;
        margin-left: 6px;
    }

    .about-delete-button{
        margin-left: 10px;
        font-size: 1rem;
        background-color: white;
        border-radius: 4px;
        color: rgb(51, 51, 51);
        border: 1px solid gray;
        padding: 7px;
        width: 100px;
        cursor: pointer;

        &:hover {
            background-color: rgba(8, 8, 8, 0.712);
            box-shadow: 0px 4px 6px #acaaaa;
            color: white;
        }
    }

    .about-save-button {
        margin-left: 10px;
        font-size: 1rem;
        border: 1px solid #065cb1;
        background-color: #0a66c2;
        border-radius: 4px;
        color: white;
        padding: 7px;
        width: 100px;
        cursor: pointer;
        &:hover {
            box-shadow: 0px 4px 6px #acaaaa;
        }
    }
}

// user intro form

.user-intro{
    background-color: white;
    border: 1px solid gray;
    border-radius: 10px;
    width: 680px;

    .intro-form-heading{
        font-size: 20px;
        font-weight: 400;
        padding: 15px 0px 15px 25px;
        border-bottom: 1px solid lightgray;
        display: flex;
        justify-content: space-between;

        .user-close-button{
            padding-right: 30px;
            cursor: pointer;
            font-size: 25px;
        }
    }

    .intro-form {
        display: flex;
        flex-direction: column;
    }

    label {
        color: gray;
        font-size: 0.9rem;
    }
    .intro-pronouns-div {
        margin: -15px 0px 20px 25px;
    }
    select{
        margin-top: 5px;
        height: 35px;
        width: 210px;
        border-radius: 5px;
        border: 1px solid gray;
    }

    .intro-names {
        margin: 10px 0 20px 25px;

        .first-name, .last-name{
            display: flex;
            flex-direction: column;
            margin-right: 20px;
        }

        input {
            margin-top: 8px;
            margin-bottom: 5px;
            width: 200px;
            height: 25px;
            border: 1px solid gray;
            border-radius: 5px;
            padding-left: 5px;
        }
    }

    .input {
        margin-top: 5px;
        width: 600px;
        height: 30px;
        border-radius: 5px;
        border: 1px solid gray;
    }

    .bio-textarea {
        margin-left: 2px;
        margin-top: 5px;
        width: 500px;
        height: 75px;
        border-radius: 5px;
        border: 1px solid gray;
    }

    .intro-submit-div {
        width: 670px;
        padding: 10px;
        display: flex;
        margin-left: 40px;
    }

    .user-intro-submit{
        position: relative;
        left: 88%;
        font-size: 1rem;
        background-color: #0a66c2;
        border-radius: 24px;
        color: white;
        border: none;
        padding: 7px;
        width: 80px;
        cursor: pointer;
        
        &:hover {
            box-shadow: 0px 4px 6px #acaaaa;
        }
    }

    .intro-bio-div {
        display: flex;
        flex-direction: column;
        margin-right: 20px;
        margin: -10px 0px 20px 25px;

    }

    .intro-location-div{
        display: flex;
        flex-direction: column;
        margin: -10px 0px 20px 25px;
        margin-right: 20px;
        width: 215px;
    }
    .location-input{
        margin-top: 5px;
        border: 1px solid gray;
        width: 195px;
        padding-left: 5px;
        border-radius: 5px;
        height: 25px;
    }
}


// experience form 

.exp-form-div {
    background-color: white;
    border: 1px solid gray;
    border-radius: 10px;
    width: 680px;
    height: 84vh;
    overflow-y: scroll;
    margin-bottom: 10px;
    .exp-form{
        display: flex;
        flex-direction: column;

        label{
            font-size: 0.9rem;
            color: gray;
        }
    }

    .exp-title-div, 
    .exp-employment-div, 
    .exp-start-date-div, 
    .exp-end-date-div, 
    .exp-location-div,
    .exp-headline-div,
    .exp-industry-div,
    .exp-description-div,
    .exp-company-div { 
        
        display: flex;
        flex-direction: column;
        margin: 0px 0px 13px 25px;
    }
    .exp-title-div{
        margin-top: 5px;
    }
    textarea {
        margin-top: 5px;
        width: 600px;
        height: 65px;
        border-radius: 5px;
        border: 1px solid gray;
    }
    input {
        margin-top: 5px;
        width: 600px;
        height: 30px;
        border-radius: 5px;
        border: 1px solid gray;
    }
    .exp-save-button{
        position: relative;
        left: 62%;
        font-size: 1rem;
        border: 1px solid #065cb1;
        background-color: #0a66c2;
        border-radius: 24px;
        color: white;
        padding: 7px;
        width: 85px;
        cursor: pointer;
        margin-bottom: 10px;
        &:hover {
            box-shadow: 0px 4px 6px #acaaaa;
        }
    }

    .exp-delete-button{
        font-size: 0.9rem;
        background-color: white;
        border-radius: 24px;
        color: rgb(53, 53, 53);
        border: 1px solid rgb(58, 58, 58);
        padding: 7px;
        width: 100px;
        cursor: pointer;
        margin-left: 25px;
        margin-right: 10px;
        margin-bottom: 10px;

        &:hover{
            background-color: rgba(0, 0, 0, 0.61);
            box-shadow: 0px 4px 6px #acaaaa;
            color: white;
        }
    }

    .exp-form-heading{
        font-size: 20px;
        font-weight: 400;
        padding: 10px 0px 5px 15px;
        border-bottom: 1px solid lightgray;
        display: flex;
        justify-content: space-between;

        .exp-close-button{
            padding-right: 15px;
            cursor: pointer;   
            font-size: 25px;
        }
    }
}

// education form 

.edu-form-div {
    background-color: white;
    border: 1px solid gray;
    border-radius: 10px;
    width: 680px;
    height: 84vh;
    overflow-y: scroll;

    .edu-form{
        display: flex;
        flex-direction: column;

        label{
            font-size: 0.9rem;
            color: gray;
        }
    }

    .edu-school-div, 
    .edu-degree-div, 
    .edu-start-date-div, 
    .edu-end-date-div, 
    .edu-field-div,
    .edu-activity-div,
    .edu-description-div,
    .edu-grade-div { 
        
        display: flex;
        flex-direction: column;
        margin: 5px 0px 13px 25px;
    }
    .edu-school-div{
        margin-top: 5px;
    }
    textarea {
        margin-top: 5px;
        width: 600px;
        height: 65px;
        border-radius: 5px;
        border: 1px solid gray;
    }
    input {
        margin-top: 5px;
        width: 600px;
        height: 30px;
        border-radius: 5px;
        border: 1px solid gray;
    }

    .edu-save-button{
        position: relative;
        left: 62%;
        font-size: 1rem;
        border: 1px solid #065cb1;
        background-color: #0a66c2;
        border-radius: 24px;
        color: white;    
        padding: 7px;
        width: 85px;
        cursor: pointer;
        margin-bottom: 10px;

        &:hover {
            box-shadow: 0px 4px 6px #acaaaa;
        }
    }

    .edu-delete-button{
        font-size: 0.9rem;
        background-color: white;
        border-radius: 24px;
        color: rgb(53, 53, 53);
        border: 1px solid rgb(58, 58, 58);
        padding: 7px;
        width: 100px;
        cursor: pointer;
        margin-left: 25px;
        margin-right: 10px;
        margin-bottom: 10px;

        &:hover{
            background-color: rgba(0, 0, 0, 0.61);
            box-shadow: 0px 4px 6px #acaaaa;
            color: white;
        }
    }

    .edu-form-heading{
        font-size: 20px;
        font-weight: 400;
        padding: 10px 0px 5px 15px;
        border-bottom: 1px solid lightgray;
        display: flex;
        justify-content: space-between;

        .edu-close-button{
            padding-right: 15px;
            cursor: pointer; 
            font-size: 25px;          
        }
    }
}