.connector-pic{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-left: 30px;
}

.network-outer-div{
    display: flex;
    flex-direction: row;
    padding-top: 100px;
    min-height: 100vh;
    background-color: #f3f2ef;
    justify-content: space-between;
    padding-left: 15vw;
    padding-right: 100vw;
    .left-side-bar{
        display: flex;
        flex-direction: column;
        position: fixed;
        // margin-left: 180px;
        width: 280px;
        height: 330px;
        border-radius: 10px;
        border: 1px solid lightgray;
        background-color: white;
        

        .manage-heading{
            color: rgb(82, 82, 82);
            font-size: 15px;
            font-weight: 700;
            padding-top: 10px;
            padding-left: 20px;
        }
        .all-headings{
            // position: absolute;

            margin-top: 12px;
            display: flex;
            flex-direction: column;
            li{
                padding-top: 10px;
                padding-bottom: 10px;
                color: rgb(82, 82, 82);
                font-weight: 300;
                display: flex;
                align-items: center;
                padding-left: 10px;

                .allusers-link{
                    color: #525252;
                    font-weight: 300;
                    cursor: pointer;                 
                    width: 280px;
                    height: 27px;
                    margin-bottom: -4px;
                    display: flex;
                    align-items: center;
                    border-radius: 5px;
                    padding-left: 10px;
                    margin-left: -10px;
                    &:hover{
                        // background-color: rgb(228, 228, 228);
                        background-color: lightgrey;
                    }
                }
            }
            .icons{
                padding-right: 8px;
                font-size: 20px;
            }

        }
    }
    .network-inner-div{
        display: flex;
        flex-direction: column;
        background-color: white;
        border-radius: 10px;
        border: 1px solid lightgray;
        min-width: 780px;
        margin-left: 340px;
        // margin-right: 10vw;
        
        .my-connections-heading{
            padding: 20px;
            display: flex;
            justify-content: center;
            border-bottom: 1px solid lightgray;

            h1 {
                font-size: 1.4rem;
                color: #404040;
            }
        }

        .each-connected-user{
            display: flex;
            align-items: center;
            padding: 20px 10px;
            border-bottom: 1px solid lightgray;

            .connected-users-link{
                color: black;
            }
            
            .connector-info{
                margin-left: 20px;

            }
            h2{
                font-weight: 400;
                padding-bottom: 8px;
                font-size: 19px;
            }

            p{
                font-size: 0.9rem;
                color: rgb(71, 71, 71);
                font-weight: 200;
            }
        }
    }

    .message-button{
        margin-left: 200px;
        margin-right: 10px;
        width: 100px;
        height: 25px;
        border: 1px solid royalblue;
        border-radius: 15px;
        color: royalblue;
        padding-left: 20px;
        padding-top: 5px;
        font-size: 19px;
        position: absolute;
        left: 950px;

        &:hover{
            background-color: royalblue;
            color: white;
            box-shadow: 0px 4px 6px #acaaaa;
        }
    }

    .disconnect-button {
        font-size: 28px;
        color: #484848;
        border: none;
        background-color: white;
        cursor: pointer;
        position: absolute;
        margin-left: 680px;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin-top: 6px;
        display: flex;
        justify-content: center;
        align-items: center;
        &:hover{
                background-color: lightgrey;
            }
        

        .hide-connection-dropdown{
            display: none;
        }
        .reveal-connection-dropdown{
            width: 220px;
            height: 40px;
            margin-left: 20px;
            padding-bottom: 2px;
            position: absolute;
            border: 1px solid #e6e6e6;
            border-radius: 10px;
            border-top-right-radius: 0;
            box-shadow: 0px 4px 6px #acaaaa;
            background-color: white;
            right: 10px;
            top: 40px;
        }

        .remove-connection{
            margin-top: 8px;
            padding-left: 13px;
            display: flex;
            flex-direction: row;
            // width: 214px;
            height: 30px;
            cursor: pointer;
            border-radius: 5px;
            &:hover{
                background-color: #8080805c;
            }
            .remove-icon{
                font-size: 25px;
            }
            h2{
                padding-top: 3px;
                font-size: 17px;
                padding-left: 5px;
            }
        }
    }
}

// .all-network-inner-div{
//     display: flex;
//         flex-direction: column;
//         background-color: white;
//         border-radius: 10px;
//         border: 1px solid lightgray;
//         min-width: 780px;
//         margin-left: 340px;
//         // margin-right: 10vw;
        
//         .my-connections-heading{
//             padding: 20px;
//             display: flex;
//             justify-content: center;
//             border-bottom: 1px solid lightgray;

//             h1 {
//                 font-size: 1.4rem;
//                 color: #404040;
//             }
//         }

//         .each-connected-user{
//             display: flex;
//             align-items: center;
//             padding: 20px 10px;
//             border-bottom: 1px solid lightgray;

//             .connected-users-link{
//                 color: black;
//             }
            
//             .connector-info{
//                 margin-left: 20px;

//             }
//             h2{
//                 font-weight: 400;
//                 padding-bottom: 8px;
//                 font-size: 19px;
//             }

//             p{
//                 font-size: 0.9rem;
//                 color: rgb(71, 71, 71);
//                 font-weight: 200;
//             }
//         }
// }