
.post-index-item-div{
    background-color: white;
    width: 600px;
    border: 1px solid lightgray;
    border-radius: 10px;
    padding: 15px;
    margin: 10px 90px 10px 10px;

}

.like-comment-div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border-top: 1px solid lightgray;
    margin-top: 5px;
    height: 35px;
    margin-left: 50px;
    margin-right: 50px;
    h3{
        font-size: 0.9rem;
        padding-top: 5px;
        padding-left: 2px;
    }
    .comment-div{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
        color: #646262;
        border-radius: 5px;
        padding: 5px;
        margin-top: 15px;
        width: 200px;
        height: 30px;
        &:hover {
            background-color: rgba(173, 173, 173, 0.3);
            color: black; 
        }

        .comment-icon{
            font-size: 22px;
        }
        .comment-heading{
            padding-bottom: 8px;
            font-size: 16px;
            cursor: pointer;
    
            &:hover{
             color: black; 
            }
        }
    }
}
.post-like-div{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: #646262;
    border-radius: 5px;
    padding: 5px;
    margin-top: 15px;
    width: 200px;
    height: 30px;

    &:hover {
        background-color: rgba(173, 173, 173, 0.3);
        color: black; 
    }

    .post-like-icon{
        font-size: 24px;
    }
    .like-heading{
        padding-bottom: 2px;
        font-size: 16px;
        cursor: pointer;

        &:hover{
         color: black; 
        }
    }
}
.post-likes-count{
    display: flex;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
}
.comment-counts{
    margin-top: 21px;
    display: flex;
    align-items: center;
    justify-content: center;

    h2{
        padding-left: 4px;
    }
}
.cmt-like-count-div{
    display: flex;
    color: #616161;
    font-size: 0.9rem;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 50px;
}
.num-like-icon{
    color:#0a66c2 ;
    font-size: 15px;
    padding-top: 1px;
}
.liked{
    display: flex;
    color: #0a66c2;
}
.num-likes{
    padding-right: 5px;
}
.post-author-div{
    position: relative;
    display: flex;

    .post-creator-pic {
        margin-top: -8px;
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }

    .post-author-info{
        display: flex;
        width: 450px;
        margin-left: 8px;
        margin-top: 2px;
        text-decoration: none;
    }
    
    .author-name{
        font-size: 1rem;
        color: #141414;
        font-weight: 500;
        
    }

    .author-bio {
        color: #545353;
        font-size: 0.8rem;
        font-weight: 300;
        padding-top: 4px;
    
    }
    .hide-dropdown{
        display: none;
    }

    .dropdown-post-button{
        width: 35px;
        height: 35px;
        border-radius: 50%;
        border: none;
        cursor: pointer;
        margin-left: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;

        &:hover{
            background-color: rgb(236, 236, 236);
        }
    }
    .post-three-dots{
        font-size: 20px;
    }

    .reveal-dropdown{
        width: 200px;
        height: 60px;
        margin-left: 20px;
        padding-bottom: 2px;
        position: absolute;
        top: 20px;
        right: -15px;
        border: 1px solid #e6e6e6;
        box-shadow: 0px 4px 6px #acaaaa;

    }
    .post-edit-button, .post-delete-button{
        cursor: pointer;
        color: #424242;
        height: 24px;
        margin-top: 4px;
        border-radius: 5px;
        display: flex;
        align-items: center;
        padding-left: 10px;
        &:hover{
            background-color: lightgray;
        }

        h2{
            font-size: 16px;
            padding-left: 7px;
        }
    }
    .post-edit-icon, .post-delete-icon{
        font-size: 20px;
    }

   
}
.post-body-div{
    margin-top: 20px;
    margin-left: 5px;
    line-height: normal;
    
    .post-body{
        color: #1e1e1e;
        line-height: 22px;
    }

    .post-media{
        width: 400px;
        height: inherit;
        background-color: white;
        margin-left: 50px;
        margin-top: 20px;
    }
}
.post-form-div{
    border: 1px solid lightgray;
    background-color: white;
    width: 500px;
    border-radius: 10px;

    .form-type-heading{
        display: flex;
        justify-content: space-between;
        font-weight: 1;
        padding: 15px 0px 5px 15px;
        border-bottom: 1px solid lightgray;

       h1{
           font-weight: 400;
           padding-top: 2px;
       }
    }
    .post-user-info-modal{
        padding: 15px;
        display: flex;
    }

    .user-name-bio{
        margin-top: 6px;
    }

    h2 {
        font-size: 0.7rem;
        font-weight: 400;
        color: gray;
        padding-top: 1px;
    }

    .user-profile-photo{
        border-radius: 50%;
        width: 50px;
        height: 50px;
        margin-right: 10px;
        margin-top: -7px;
    }
    .post-close-button-div{
        margin-right: 15px;
        
    }

    .post-close-icon{
        font-size: 25px;
        margin-top: -4px;
    }
    .post-form-content{
        display: flex;
        flex-direction: column;
        align-items: center;

        .post-body-textarea{
            text-decoration: none;
            border: none;
            width: 420px;
            height: 200px;
            font-size: 1em;
            
        }

        .post-form-footer{
            display: flex;
            justify-content: space-between;
            flex-direction: row;
            padding: 10px;

           
        }
        .post-submit-button{
            font-size: 0.9rem;
            background-color: #0a66c2;
            border-radius: 24px;
            color: white;
            border: none;
            padding: 7px;
            width: 60px;
            height: 35px;
            cursor: pointer;  
        }

        .photo-add{

            .add-photo-icon{
                font-size: 30px;
                margin-top: 5px;
                color: rgb(93, 190, 219);
                cursor: pointer;
            }
        }
        
        #post-media{
            cursor: pointer;
        }
    }

    .post-media-preview{

        height: 200px;
        display: flex;
    }
}

