.profile-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: whitesmoke;
    width: 97vw;
    height: 100%;
    // margin-top: 10px;
    // left: 0;
    // justify-content: center;
    padding: 10px;
    padding-top: 70px;
    // min-height: 100vh;

}
.user-intro, .about-index-conatiner, .exp-index-conatiner, .edu-index-conatiner{
        background-color: white;
        width: 750px;
        margin: 20px 0;
        border-radius: 10px;
        border: 1px solid lightgray;
        display: flex;
}
// user's intro

.user-intro{
    display: flex;
    flex-direction: column;
}
.user-info-div {
    display: flex;
    flex-direction: column;
    height: 355px;
    // width: 58vw;
    // height: 400px;
    // margin-left: 150px;
    // background-color: white;
    // // border: 1px solid rgb(134, 133, 133);
    // // padding-left: 20px;
    // margin-top: 90px;
    // border-radius: 10px;
    .background-image-div  {
        display: flex;
    }
    .back-img {
        width: 750px;
        height: 200px;
        border-radius: 10px;
    }
    .profile-photo-div{
        // margin-top: -80px;
        // padding-bottom: 10px;
        // padding-left: 20px;
        position: relative;
        bottom: 8vh;
        left: 1vw;
        margin-bottom: 15px;
    }
    .profile-img {
        border-radius: 50%;
        width: 130px;
        border: 3px solid white;
        // width: 140px;
        // height: 140px;
    }
    .user-info-header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    
    }
    .user-name-div {
        display: flex;
        align-items: center;
        padding-top: 5px;
    }
    .user-name {
        font-size: 1.3rem;
        font-weight: 400;
    }
    .user-pronouns {
        padding-left: 5px;
        font-size: 0.8rem;
        color: gray;
    }
    .user-bio {
        font-size: 0.9rem;
        padding: 3px 0px;
    }
    .user-location {
        font-size: 0.8rem;
        color: gray;
    }
    .user-connections {
        color: #0a66c2;
        font-size: 0.8rem;
        font-weight: 400;
        margin-top: 5px;
    }
    .edit-user-info {
        cursor: pointer;
        margin-right: 25px;
        font-size: 18px;

    }
    .user-details {
        position: relative;
        padding-left: 40px;
        bottom: 12vh;
        padding: 15px;
    }
}

.about-div {
    display: flex;
    flex-direction: column;
    padding-left: 8px;

    .about-createButton{
        font-size: 25px;
        cursor: pointer;
    }

    .about-header {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        width: 100%;
        margin-top: 10px;
        padding: 15px;
        padding-right: 0px;
    }

    // .about-heading {
        // font-weight: 600;
    // }
    .about-body-index {
        padding-top: 15px;
        padding-left: 15px;
    }

   
}
.about-index-item-div {
    display: flex;
    justify-content: space-between;
    background-color: white;
    margin-bottom: 15px;
    width: 100%;

    .about-info-div {
        display: flex;
        width: 100%;
        flex-direction: column;
    }
    .about-body-div {
        display: flex;
        align-items: center;
        border-bottom: 1px solid lightgray;
        width: 608px;
        font-size: 1rem;
        font-weight: 400;
        margin-left: 60px;
        // margin-bottom: 5px;
        padding-bottom: 10px;
    }

    .about-body-p {
        font-weight: 100;
        font-size: 0.9rem;
        // margin-left: 5px;
        // margin-top: 3px;
    }
    .edit-button {
        // padding-left: 30px;
        cursor: pointer;
        font-size: 18px;
    }
}

.experience-div{
    display: flex;
    flex-direction: column;
    padding-left: 10px;

    .exp-heading {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        width: 100%;
        margin-top: 10px;
        padding: 15px;
        padding-right: 0px;
    }

    .experience-index-div {
        padding-top: 15px;
        padding-left: 15px;
    }
    .experience-createButton{
        cursor: pointer;
        font-size: 25px;

    }
    .exp-h2 {
        // font-weight: 900;
        color: rgb(19, 19, 19);
    }
}

.experience-index-item-div {
    display: flex;
    justify-content: space-between;
    background-color: white;
    width: 100%;
    margin-bottom: 15px;

    .exp-img {
        width: 65px;
        height: 65px;
        margin-right: 20px;
        margin-top: 8px;
    }

    .experience-body-div {
        display: flex;
        flex-direction: column;
        border-bottom: 1px solid lightgray;
        padding-bottom: 10px;
        width: 580px;
    }
    .exp-title {
        font-size: 1rem;
        font-weight: 500;
        margin-bottom: 5px;
    }
    .exp-company {
        display: flex;
        flex-direction: column;
        // border-bottom: 1px solid lightgray;
        padding-bottom: 10px;
        font-weight: 300;
        // width: 600px;
        font-size: 0.9rem;

    }
    .exp-description {
        font-size: 0.8rem;
        color: gray;
    }

    .start-end-date-exp {
        font-size: 0.8rem;
        color: gray;
    }

    .exp-location {
        font-size: 0.8rem;
        color: gray;
    }
    .edit-button {
        cursor: pointer;
        font-size: 18px;
    }

   
}

.education-div {
    display: flex;
    flex-direction: column;
    padding-left: 10px;

    .edu-heading {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        width: 100%;
        padding: 15px;
        margin-top: 10px;
        padding-right: 10px;
    }
    .education-createButton {
        cursor: pointer;
        font-size: 25px;

    }
    .education-index-div {
        padding-top: 15px;
        padding-left: 15px;
    }

    // .edu-h2 {
        // font-weight: 600;
    // }
}

.education-index-item-div {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: white;
    margin-bottom: 15px;
}

.edu-img {
    margin-top: 5px;
    width: 65px;
    height: 68px;
    margin-right: 20px;
}

.edit-button-edu {
    margin-right: 10px;
    cursor: pointer;
    font-size: 18px;
}
.education-body-div {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid lightgray;
    width: 580px;
    padding-bottom: 10px;

    .education-school {
        font-weight: 400;
        margin-bottom: 5px;
        font-size: 1rem;
    }

    .degree-info {
        display: flex;
        font-size: 0.8rem;
        font-weight: 300;
    }

    .start-end-date, .activities {
        padding-top: 10px;
        font-size: 0.8rem;
        color: gray;
    }
    h3 {
        font-weight: 300;
        font-size: 0.8rem;
    }
    // p{
        // margin-top: 3px;
    // }
}