.profile-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: whitesmoke;
    width: 97vw;
    height: 100%;
    padding: 10px;
    padding-top: 70px;
}
.user-intro, .about-index-conatiner, .exp-index-conatiner, .edu-index-conatiner{
        background-color: white;
        width: 750px;
        margin: 20px 0;
        border-radius: 10px;
        border: 1px solid lightgray;
        display: flex;
}

.user-intro{
    display: flex;
    flex-direction: column;
}
.user-info-div {
    display: flex;
    flex-direction: column;
    height: 400px;
    .background-image-div  {
        display: flex;
    }
    .back-img {
        width: 750px;
        height: 200px;
        border-radius: 10px;
    }
    .profile-photo-div{
        position: relative;
        bottom: 70px;
        left: 10px;
    }
    .profile-img {
        border-radius: 50%;
        width: 130px;
        height: 132px;
        border: 4px solid white;
    }
    .user-info-header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        
    }
    .user-name-div {
        display: flex;
        align-items: center;
        padding-top: 5px;
    }
    .user-name {
        font-size: 1.5rem;
        font-weight: 500;
    }
    .user-pronouns {
        padding-left: 5px;
        font-size: 0.8rem;
        color: #363636;
        padding-top: 3px;
    }
    .user-bio {
        font-size: 1rem;
        padding: 3px 0px;
        font-weight: 300;
        color: #222222;
    }
    .user-location {
        font-size: 0.9rem;
        color: #1c1c1c;
        font-weight: 300;
    }
    .user-connections {
        
        margin-top: 8px;
        margin-bottom: 10px;
        
        .link-to-connections{
            color: #0a66c2;
            font-size: 1rem;
            font-weight: 500;
        }
    }
    .edit-user-info {
        cursor: pointer;
        margin-right: 25px;
        font-size: 20px;
    }
    .user-details {
        position: relative;
        padding-left: 40px;
        bottom: 90px;
        padding: 15px;
    }

    .options{ 
        display: flex;
        flex-direction: row;

        .add-to-profile, .more-button {
            text-decoration: none;
            border: none;
            background-color: white;
            margin-left: -6px;
        }
        h2{
            padding-top: 3px;
            padding-bottom: 1px;
            width: 150px;
            height: 20px;
            border: 1px solid #06c;
            border-radius: 15px;
            color: #06c;
            // padding-left: 10px;
            font-size: 15px;
            cursor: pointer;
            &:hover{
                background-color: rgba(135, 186, 236, 0.479);
                border: 1px solid rgb(1, 93, 185);
                box-shadow: 0px 4px 6px #acaaaa;
            }
        }
        h3{
            width: 60px;
            height: 20px;
            border: 1px solid gray;
            border-radius: 15px;
            padding-top: 3px;
            padding-bottom: 1px;
            cursor: pointer;
            color: #5a5a5a;
            font-size: 15px;
            &:hover{
                background-color: rgba(153, 152, 152, 0.473);
                border: 1px solid rgb(71, 71, 71);
                box-shadow: 0px 4px 6px #acaaaa;
            }
        }

    }

    .options-disconnect{
        h2{
            // padding-top: 3px;
            padding-bottom: 1px;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 120px;
            height: 22px;
            border: 1px solid #06c;
            border-radius: 15px;
            color: #06c;
            // padding-left: 10px;
            font-size: 16px;
            cursor: pointer;
            &:hover{
                background-color: rgba(135, 186, 236, 0.479);
                border: 2px solid rgb(1, 93, 185);
                box-shadow: 0px 4px 6px #acaaaa;
            }
        }
    }

    .options-connect{
        h2{
            // padding-top: 3px;
            padding-bottom: 1px;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 120px;
            height: 22px;
            border: 1px solid #06c;
            border-radius: 17px;
            color: white;
            background-color: #06c;
            // padding-left: 10px;
            font-size: 15px;
            cursor: pointer;
            &:hover{
                background-color: rgb(4, 84, 165);
                border: 2px solid rgb(1, 93, 185);
                box-shadow: 0px 4px 6px #acaaaa;
            }
        }
    }

    .hide-profile-dropdown, .hide-more-dropdown {
        display: none;
    }

    .reveal-profile-dropdown{
        display: flex;
        flex-direction: column;
        width: 220px;
        height: 100px;
        margin-left: 20px;
        padding-bottom: 2px;
        position: absolute;
        border: 1px solid #e6e6e6;
        border-radius: 10px;
        border-top-left-radius: 0;
        box-shadow: 0px 4px 6px #acaaaa;
        background-color: white;
        /* right: 0px; */
        margin-top: 5px;
        left: 0px;

        h1{
            font-size: 17px;
            margin-top: 8px;
            padding-bottom: 8px;
            border-bottom: 1px solid lightgray;
            /* margin-bottom: 5px; */
            font-weight: 500;
            color: #1d1d1d;
        }

        li{
            // padding-left: 10px;
            font-size: 15px;
            width: 215px;
            height: 20px;
            border-radius: 5px;
            padding-top: 2px;
            padding-bottom: 2px;
            margin-top: 5px;
            color: #242424;
            cursor: pointer;
            display: flex;
             padding-left: 5px;
            &:hover{
                background-color: #c3c2c2ba;
            }
        }
    }

    .reveal-more-dropdown{
        display: flex;
        flex-direction: column;
        width: 220px;
        height: 120px;
        margin-left: 20px;
        padding-bottom: 2px;
        position: absolute;
        border: 1px solid #e6e6e6;
        border-radius: 10px;
        border-top-left-radius: 0;
        box-shadow: 0px 4px 6px #acaaaa;
        background-color: white;
        /* right: 0px; */
        margin-top: 5px;
        left: 175px;

        h1{
            font-size: 17px;
            margin-top: 8px;
            padding-bottom: 8px;
            border-bottom: 1px solid lightgray;
            /* margin-bottom: 5px; */
            font-weight: 500;
            color: #1d1d1d;
        }

        a{
            display: flex;
            padding-left: 10px;
            font-size: 15px;
            width: 210px;
            height: 20px;
            border-radius: 5px;
            padding-top: 2px;
            padding-bottom: 2px;
            margin-top: 5px;
            color: #242424;
            cursor: pointer;
            
            &:hover{
                background-color: #c3c2c2ba;
            }

            .git-icon{
                margin-left: 10px;
            }
        }
    }
}

.about-div {
    display: flex;
    flex-direction: column;
    padding-left: 8px;

    .about-createButton{
        font-size: 29px;
        cursor: pointer;
        margin-right: 10px;
        margin-left: 590px
    }

    .about-header {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        width: 100%;
        margin-top: 10px;
        padding: 15px;
        padding-right: 0px;
        font-size: 22px;
        color: #202020;
        font-weight: 500;
    }

    .about-body-index {
        padding-top: 15px;
        padding-left: 15px;
    }

   
}
.about-index-item-div {
    display: flex;
    justify-content: space-between;
    background-color: white;
    margin-bottom: 15px;
    width: 100%;

    .about-info-div {
        display: flex;
        width: 100%;
        flex-direction: column;
    }
    .about-body-div {
        display: flex;
        align-items: center;
        width: 615px;
        font-size: 1rem;
        font-weight: 400;
        padding-bottom: 10px;
    }
    
    .about-body-p {
        font-weight: 400;
        font-size: 0.9rem;
        line-height: 1.4;
        color: rgb(20, 20, 20);
    }
    .edit-button {
        margin-left: 55px;
        cursor: pointer;
        font-size: 20px;
    }
}

.experience-div{
    display: flex;
    flex-direction: column;
    padding-left: 10px;

    .exp-heading {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        width: 100%;
        margin-top: 10px;
        padding: 15px;
        padding-right: 0px;
        font-size: 22px;
        color: #202020;
        font-weight: 500;
    }

    .experience-index-div {
        padding-top: 15px;
        padding-left: 15px;
    }
    .experience-createButton{
        cursor: pointer;
        font-size: 29px;
        margin-right: 10px;
        margin-left: 536px;
    }
    .exp-h2 {
        // font-weight: 900;
        color: rgb(19, 19, 19);
    }
}

.experience-index-item-div {
    display: flex;
    justify-content: space-between;
    background-color: white;
    width: 100%;
    margin-bottom: 15px;

    .exp-img {
        width: 65px;
        height: 65px;
        margin-right: 20px;
        margin-top: 8px;
    }

    .experience-body-div {
        display: flex;
        flex-direction: column;
        border-bottom: 1px solid lightgray;
        padding-bottom: 10px;
        width: 580px;
    }
    .exp-title {
        margin-top: 8px;
        font-size: 1rem;
        font-weight: 500;
        // margin-bottom: 5px;
    }
    .exp-company {
        display: flex;
        flex-direction: column;
        padding-bottom: 3px;
        font-weight: 300;
        font-size: 0.9rem;
        padding-top: 1px;
    }
    .exp-description {
        font-size: 0.8rem;
        color: gray;
    }

    .start-end-date-exp {
        font-size: 0.8rem;
        color: gray;
    }

    .exp-location {
        font-size: 0.8rem;
        color: gray;
        padding-top: 1px;
        padding-bottom: 2px;
    }
    .edit-button {
        cursor: pointer;
        font-size: 20px;
    }

   
}

.education-div {
    display: flex;
    flex-direction: column;
    padding-left: 10px;

    .edu-heading {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        width: 100%;
        padding: 15px;
        margin-top: 10px;
        padding-right: 10px;
        font-size: 22px;
        color: #202020;
        font-weight: 500;
    }
    .education-createButton {
        cursor: pointer;
        font-size: 29px;
        margin-right: 20px;
        margin-left: 536px;
    }
    .education-index-div {
        padding-top: 15px;
        padding-left: 15px;
    }

    // .edu-h2 {
        // font-weight: 600;
    // }
}

.education-index-item-div {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: white;
    margin-bottom: 15px;
}

.edu-img {
    margin-top: 5px;
    width: 65px;
    height: 68px;
    margin-right: 20px;
}

.edit-button-edu {
    margin-right: 10px;
    cursor: pointer;
    font-size: 20px;
}
.education-body-div {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid lightgray;
    width: 580px;
    padding-bottom: 10px;

    .education-school {
        font-weight: 400;
        margin-bottom: 5px;
        font-size: 1rem;
        margin-top: 10px;
    }

    .degree-info {
        display: flex;
        font-size: 0.8rem;
        font-weight: 300;
    }

    .start-end-date, .activities {
        padding-top: 10px;
        font-size: 0.8rem;
        color: gray;
    }
    h3 {
        font-weight: 300;
        font-size: 0.8rem;
    }
    // p{
        // margin-top: 3px;
    // }
}