.profile-div {
    display: flex;
    // border: 1px solid rgb(134, 133, 133);
    width: 97vw;
    height: 120vw;
    background-color: whitesmoke;
    margin-top: 10px;
    left: 0;
    // justify-content: center;
    flex-direction: column;

}
// user's intro
.user-info-div {
    
    width: 58vw;
    height: 400px;
    margin-left: 150px;
    background-color: white;
    // border: 1px solid rgb(134, 133, 133);
    // padding-left: 20px;
    margin-top: 90px;
    border-radius: 10px;
   
}

// .background-image-div  {
  
// }
.back-img {
    width: 58vw;
    height: 200px;
    border-radius: 10px;
}
.profile-photo-div{
    margin-top: -80px;
    padding-bottom: 10px;
    padding-left: 20px;
}
.profile-img {
    width: 140px;
    height: 140px;
}
.user-info-header {
   display: inline;
}
.user-name {
    font-size: 25px;
    padding-left: 30px;
    font-weight: 900;
}
.user-pronouns {
    padding-left: 150px;
    
}

.edit-button-div{
    // display: inline-block;
    // font-size: inherit;
    // height: 1em;
    // overflow: visible;
    // vertical-align: -0.125em;
}
// about user
.about-div, .education-div, .experience-div {
    width: 58vw;
    height: fit-content;
    margin-left: 150px;
    background-color: white;
    margin-top: 30px;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.about-heading {
    font-size: 20px;
    font-weight: 600;
    color: rgb(29, 28, 28);
}



