.signin-container {
    display: flex;
    height: 100vh;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #eeeeee;
    color: rgb(17, 14, 14);
   
}

.signin-errors {
   
    color: red;
    font-size: 15px;
    padding-top: 2px;
    padding-right: 100px;
}


.signin-form-box{
    display: flex;
    // border: 1px solid black;
    // display: block;
    padding-top: 20px;
    // margin-top: 150px;
    // margin-right: 300px;
    // margin-left:  -200px;
    width: 352px;
    height: 380px;
    // justify-content: center;
    // flex-direction: column;
    // align-items: center;
    background-color: white;
    // padding-top: 100px;
    // border: none;
    font-size: 3.2rem;
    padding-left: 15px;
    
    // box-shadow: 0 4px 12px rgb(0 0 0 / 15%);
    padding: 24px;
    border-radius: 4px;
    margin: 0 auto;
    // background: #fff;
    // box-shadow: 1px 1px 3px #272727;
    // box-shadow: 0.5px 2px 4px #272727;
    box-shadow: 0px 4px 6px #acaaaa;
}   

.signin-heading {
    // margin-left: 200px;
    // padding-top: 50px;
    font-size: 30px;
    color: rgb(49, 49, 49);
    font-weight: 400;
}

.signin-msg {
    padding-top: 10px;
    font-size: 15px;
    padding-bottom: 10px;
    color: rgb(49, 49, 49);

}

.signin-email, .signin-password {
    font-size: 18px;
    width: 340px;
    height: 40px;
    // border: 1px;
    // border-radius: 2px;
    border-radius: 8px;
    border: 1px solid gray;
    padding-left: 5px;
}

.signin-button {
    font-size: 19px;
    width: 350px;
    height: 40px;
    cursor: pointer;
    background-color: #0a66c2;
    border-radius: 8px;
    color: white;
    border: none;
}

.signin-button:hover, .demo-signin-button:hover {
    background-color: #074f97;
    // box-shadow: 1px 2px 2px #0a131d;
    box-shadow: 0px 4px 6px #acaaaa;

}

.demo-signin-button {
    font-size: 18px;
    width: 350px;
    height: 40px;
    cursor: pointer;
    background-color: #0a66c2;
    // border-radius: 2px;
    border-radius: 8px;
    color: white;
    border: none;

}

.new-here{
    padding-top: 20px;
    font-size: 15px;
    color: rgb(49, 49, 49);
}

