.signup-container {
    display: flex;
    height: 100vh;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #eeeeee;
    color: rgb(17, 14, 14);
}
    
.login-error-message{
    color: red;
    font-size: 15px;
    padding-top: 2px;
    margin-bottom: -3px;
}
.signup-error{
    font-size: 18px;
    width: 340px;
    height: 40px;
    border-radius: 8px;
    // border: 1px solid gray;
    padding-left: 5px;
    border: 1px solid red;
}
.signup-form-box{   
    display: flex;
    padding-top: 20px;
    width: 352px;
    height: 510px; 
    background-color: white;
    font-size: 3.2rem;
    padding-left: 15px;
    padding: 24px;
    border-radius: 4px;
    margin: 0 auto;
    box-shadow: 0px 4px 6px #acaaaa;

}   

.signup-heading {
    font-size: 30px;
    color: rgb(49, 49, 49);
    font-weight: 400;
}

.signup-msg {
    padding-top: 10px;
    font-size: 15px;
    padding-bottom: 10px;
    color: rgb(49, 49, 49);
}

.signup-input {
    font-size: 18px;
    width: 340px;
    height: 40px;
    border-radius: 8px;
    border: 1px solid gray;
    padding-left: 5px;
}

.signup-button,.demo-signin-signupForm {
    font-size: 19px;
    width: 350px;
    height: 40px;
    cursor: pointer;
    background-color: #0a66c2;  
    border-radius: 8px;
    color: white;
    border: none;
}

.signup-button:hover,.demo-signin-signupForm:hover {
    background-color: #074f97;
    box-shadow: 0px 4px 6px #acaaaa;
}

.already-account{
    padding-top: 20px;
    font-size: 15px;
    color: rgb(49, 49, 49);
}
